.dial {
	height: 400px;
	width: 400px;

	/*added code to center the timer:*/
	display: block;
	margin-left: auto;
	margin-right: auto;

	margin-top: auto;
	margin-bottom: auto;
}

.timer {
	position: relative;

	/*adding code to center the timer:*/
	display: block;

	margin-left: auto;
	margin-right: auto;

	margin-top: 10%;
	margin-bottom: auto;
}

* {
	font: inherit;
}

body {
	font-family: Arial, sans-serif;
}

.timer input {
	display: block;
	border: none;
	width: 240px;
	font-size: 90px;
	text-align: center;
}

.timer button {
	border: none;
	font-size: 36px;
	cursor: pointer;
}

.timer button:focus {
	outline: none;
}

.timer input:focus {
	outline: none;
}

.controls {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

/* added transparent background to the original buttons*/
#start,
#pause {
	background-color: transparent;
}